/* CSS Variables */
:root {
  --background-color: #fff;
  --text-color: #333;
  --button-background: #f9df00;
  --popup-background: #f9f9f9;
}

body.dark-mode {
  --background-color: #333;
  --text-color: #fff;
  --button-background: #5c5c5c;
  --popup-background: #444;
}

/* Styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: var(--background-color);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.search-container {
  margin-bottom: 20px;
  position: relative;
}

.input-group {
  display: flex;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--button-background);
  color: var(--text-color);
  cursor: pointer;
}

.suggestions-box {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--background-color);
  border: 1px solid #ddd;
  border-top: none;
  z-index: 10;
  max-height: 150px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: var(--background-color);
}

tr:nth-child(even) {
  background-color:  var(--background-color);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--button-background);
  cursor: pointer;
  margin-right: 10px;
}

#popup {
  display: none;
  position: fixed;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #4444441a;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  width: 65%;
  max-width: 540px;
}

#popup textarea {
  width: 100%;
  height: 50px;
  border: none;
  background: #44444400;
  color: var(--text-color);
  padding: 10px;
}

@media (max-width: 600px) {
  .input-group {
    flex-direction: column;
  }
  .input-group button {
    margin-top: 5px;
  }
}
.suggestions-box div {
  padding: 10px;
  cursor: pointer;
}.suggestions-box div:hover {
  background-color: #f0f0f0;
}